<a href="/">
<span id="menu_span">
<p id='menu_logo'><img src='../images/logo.webp'></p>
</span>
</a>
<p><br><br><br><br><br></p>
<div class="response">
{{!-- Create a table --}}
<table id="view-all-supplements">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
        <th>Supplement Type</th><th>Brand</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, phone, email, address, city in order --}}
        {{#each response}}
        <tr>
            <td>{{this.type}}</td>
            <td>{{this.brand_name}}</td>
        </tr>
        {{/each}}

    </tbody>
</table>
</div>
